{% extends "tracker/base.html" %}

{% block title %}Delete Job - Job Application Tracker{% endblock %}

{% block content %}
<h1>Delete Job</h1>
<p>Are you sure you want to delete the job <strong>{{ job.title }}</strong> at <strong>{{ job.company }}</strong>?</p>
<p>This will also remove all related applications and contacts.</p>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn">Yes, delete</button>
    <a href="{% url 'job_detail' job.pk %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}

